<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-6">
			<h2>Visitors Flow Rate</h2>
			<div class="card card-block">
				<div id="total-activity"
					style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
		<div class="col-xl-6">
			<h2>Temperature in Husky Park</h2>
			<div class="card card-block">
				<div id="temperature"
					style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
	</div>
	<!--div class="row">
		<div class="col-xl-8"><app-chat-cmp></app-chat-cmp></div>
		<div class="col-xl-4"><app-notifications-cmp></app-notifications-cmp></div>
	
	</div -->
</div>