<div class="container-fluid">

	<agm-map [latitude]="lat" [longitude]="lng">
		 
		  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		 
	</agm-map>
	<div class="jumbotron">
		<Strong><h1>Contact Husky Theme Amusement Park</h1></Strong>
		<p>Ask any questions or express your concerns here! Husky Theme Amusement Park is happy to assist you in any way possible.</p>
		<br>	
		<p style="color:black;padding-top:80px">
		  <strong>Call Us, Email Us, or Send Us A Letter<br>
		  Telephone: 666-666-6666 <br>
		  chen.zena@husky.neu.edu<br>
		  360 Huntington Ave, Boston, MA 02115<br>
	      Contact Manager: Zenan Chen</strong><br>
		</p>		
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="card card-block">
				<alert>Contact Form</alert>
				<form role="form" method="post" name="contactform" (ngSubmit)="addData()">
					<fieldset class="form-group">
						<strong><label>Name*</label></strong> <input
							class="form-control" placeholder="Enter name" id="name" required
				               [(ngModel)]="model.name" name="name" #name="ngModel">
					</fieldset>
					
					<fieldset class="form-group">
						<strong><label>Email*</label></strong> <input
							class="form-control" placeholder="Enter email" id="email" required
				               [(ngModel)]="model.email" name="email" #name="ngModel">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</fieldset>
					
					<fieldset class="form-group">
						<strong><label>Address*</label></strong> <input
							class="form-control" placeholder="Enter address" id="address" required
				               [(ngModel)]="model.address" name="address" #name="ngModel">
							<small id="emailHelp" class="form-text text-muted">Street Address</small>
					</fieldset>
					
					<fieldset class="form-group">
						<input class="form-control">
							<small id="emailHelp" class="form-text text-muted">Address Line 2</small>
					</fieldset>
					
					<div class="row">
						<div class="col-lg-6">
							<fieldset class="form-group">
								<input class="form-control">
									<small id="emailHelp" class="form-text text-muted">City</small>
							</fieldset>
						</div>
						<div class="col-lg-6">
							<fieldset class="form-group">
								<input class="form-control">
									<small id="emailHelp" class="form-text text-muted">State/Province/Region</small>
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<fieldset class="form-group">
								<input class="form-control">
									<small id="emailHelp" class="form-text text-muted">Zip Code</small>
							</fieldset>
						</div>
						<div class="col-lg-6" (click)="$event.preventDefault()">
							<fieldset class="form-group">
								<select class="form-control">
									<option value="United States">United States</option>
									<option value="Oversea">Oversea</option>
									<option value="Galaxy">Galaxy</option>
								</select>
								<small id="emailHelp" class="form-text text-muted">Country</small>
							</fieldset>
						</div>
					</div>
	
					<fieldset class="form-group">
						<strong><label>COMMENTS*</label></strong>
						<textarea class="form-control" id="comments" required
				               [(ngModel)]="model.comments" name="comments" #name="ngModel"></textarea>
					</fieldset>
	
	
					<button type="submit" class="btn btn-success">Submit
						</button>
					<button type="reset" class="btn btn-success">Reset</button>

				</form>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="card card-block">
				<alert>Highlight Comments</alert>

				<div class="card card-success card-inverse" *ngFor="let i of commentss">
					<div class="card-header card-success">{{i['name']}}</div>
					<div class="card-block bg-white">{{i['comments']}}</div>
				</div>
				
				<div>
	    			<button (click)="loadcomments()">Load Comments</button>	    		    
	  			</div>
	
			</div>
		</div>

</div>



