<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h2 class="page-header">Attractions</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-wrench"></i> Attractions
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<h1>Welcome to Husky Theme Park</h1>
	<div class="row">
		<div class="col-md-12">
			<carousel [interval]="myInterval"> <slide
				*ngFor="let slidez of slides;let index=index"
				[active]="slidez.active"> <img [src]="slidez.image">
			<div class="carousel-caption">
				<h4>Slide {{index}}</h4>
				<p>{{slidez.text}}</p>
			</div>
			</slide>  
			</carousel>
		</div>
	</div>
	<div class="jumbotron">
		<h1>Welcome to Husky!</h1>
		<p>This is a template for a simple marketing or informational
			website. It includes a large callout called a jumbotron and three
			supporting pieces of content. Use it as a starting point to create
			something more unique.</p>
		<p>
			<a href="javascript:;" class="btn btn-primary btn-lg" role="button">Learn
				more »</a>
		</p>
	</div>
	<div class="col-sm-4">
			<div class="list-group">
				<a href="javascript:;" class="list-group-item active">
					<h4 class="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta
						gravida at eget metus. Maecenas sed diam eget risus varius
						blandit.</p>
				</a> <a href="javascript:;" class="list-group-item">
					<h4 class="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta
						gravida at eget metus. Maecenas sed diam eget risus varius
						blandit.</p>
				</a> <a href="javascript:;" class="list-group-item">
					<h4 class="list-group-item-heading">List group item heading</h4>
					<p class="list-group-item-text">Donec id elit non mi porta
						gravida at eget metus. Maecenas sed diam eget risus varius
						blandit.</p>
				</a>
			</div>
		</div>
		<div class="page-header">
		<h1>ATTRACTION LIST</h1>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item">Husky Sled</li>
				<li class="list-group-item">Roller Coaster</li>
				<li class="list-group-item">sea rover</li>
				<li class="list-group-item">The Husky Gallery</li>
				<li class="list-group-item">Husky Railroad</li>
			</ul>
		</div>
		
	</div>