<div class="container-fluid">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<h2 class="page-header">Attractions</h2>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a
					href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-wrench"></i> Attractions
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<h1>Welcome to Husky</h1>
	<div class="row">
		<div class="col-md-12">
			<carousel [interval]="myInterval"> <slide
				*ngFor="let slidez of slides;let index=index"
				[active]="slidez.active"> <img [src]="slidez.image">
			<div class="carousel-caption">
				<h4>Slide {{index}}</h4>
				<p>{{slidez.text}}</p>
			</div>
			</slide>  
			</carousel>
		</div>
	</div>