<div class="container-fluid">
	<h2 class="text-muted">
		Husky <small>Amusement Park</small>
	</h2>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<carousel [interval]="myInterval"> <slide
				*ngFor="let slidez of slides;let index=index"
				[active]="slidez.active"> <img [src]="slidez.image">
			<div class="carousel-caption">
				<h4>Slide {{index}}</h4>
				<p>{{slidez.text}}</p>
			</div>
			</slide>  
			</carousel>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xl-3 col-lg-6">
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity1.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity2.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity3.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity4.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
		<hr>
			<app-footer-cmp></app-footer-cmp>
	<div>

	</div>

</div>
