<!-- Page Heading -->

<div class="row">
	<div class="col-xl-12">
		<h2 class="page-header text-center">HOT EVENTS!</h2>
	</div>
</div>

<hr/>
<section class="card-block">
	<div class="container">
		<banner-head (navChange)="navChange($event)"></banner-head>
	</div>
</section>
<div class='program-list'>
	<div class='program-list-wrap clearfix'>
		<project-item [projects]="projects"></project-item>
	</div>
</div>
<hr />

<hr />
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div>
					<h4>review here~</h4>
					<hr/>
					<rating [(ngModel)]="x" max="15" stateOn="glyphicon-ok-sign" stateOff="glyphicon-ok-circle"></rating>
				</div>
				<div>
					<div>
						<rating [(ngModel)]="y" [ratingStates]="ratingStates"></rating>
						<b>(<i>Rate:</i> {{y}})
					</b>
					</div>
					<div>
						<button class="btn btn-primary" (click)="alertMe()">submit</button>
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<div class="card card-block" (click)="$event.preventDefault()">
					<tabset>
						<tab heading="Today's news">today's news in husky amusement park!</tab>
						<tab *ngFor="let tabz of tabs" [heading]="tabz.title" [active]="tabz.active" (select)="tabz.active = true" (deselect)="tabz.active = false" [disabled]="tabz.disabled" [removable]="tabz.removable" (removed)="removeTabHandler(tabz)">
							{{tabz?.content}} </tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="row">
	<div class="col-xl-12">
		<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"></pagination>
		<pre class="card card-block card-header"><span class="text-center">Page: {{bigCurrentPage}} / {{numPages}}</span></pre>
	</div>
</div>
