<section class="our-history clearfix">
	<div class="container">
		<div class="section-title center">
			<h2>Big Events In Words</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="slider-pager">
					<ul class="list-inline thumb-box style2">

						<li>
							<a class="active" data-slide-index="0" href="javascript:void(0)">2012</a>
						</li>
						<li>
							<a data-slide-index="1" href="javascript:void(0)">2013</a>
						</li>
						<li>
							<a data-slide-index="2" href="javascript:void(0)">2014</a>
						</li>
						<li>
							<a data-slide-index="3" href="javascript:void(0)">2015</a>
						</li>
						<li>
							<a data-slide-index="4" href="javascript:void(0)">2016</a>
						</li>
						<li>
							<a data-slide-index="5" href="javascript:void(0)">2017</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-md-1 col-sm-2 col-xs-2">
				<div class="slider-pager">

					<ul class="list-inline thumb-box style1">

						<li>
							<a class="active" data-slide-index="0" href="javascript:void(0)">Jan</a>
						</li>
						<li>
							<a data-slide-index="1" href="javascript:void(0)">Mar</a>
						</li>
						<li>
							<a data-slide-index="2" href="javascript:void(0)">May</a>
						</li>
						<li>
							<a data-slide-index="3" href="javascript:void(0)">July</a>
						</li>
						<li>
							<a data-slide-index="4" href="javascript:void(0)">Sep</a>
						</li>
						<li>
							<a data-slide-index="5" href="javascript:void(0)">Nov</a>
						</li>

					</ul>

				</div>
			</div>
			<div class="col-md-11 col-sm-10 col-xs-10">


				<ul class="bxslider ">
					<li>
							<div class="clearfix">
									<figure class="img-box pull-left">
											<a href="javascript:void(0)"><img src="src/app/dashboard/bs-component/img/10.jpg" alt=""></a>
									</figure>
									<div class="content">
											<h4>Holiday Season for Christmas Day</h4>
											<p class="theme-color">since 20st December 2017</p>
											<div class="text">
													<p>
														Save Up to 20% on Select Rooms
Stay inside the magic this fall at Resort Hotel and enjoy great rates for stays most Sunday through Thursday nights from December 10, 2017 to Jan  1, 2017 when you book by December 21, 2017.
													</p>
											</div>
									</div>
							</div>
					</li>



				</ul>
				<div class="slider-pager">
					<div class="center">
						<ul class="nav-link list-inline">
							<li id="slider-prev"></li>
							<li id="slider-next"></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>

<section class="fact-counter">
	<div class="row clearfix">
		<div class="counter-outer clearfix">
			<!--Column-->
			<article class="column counter-column col-md-3 col-sm-6 col-xs-12 ">
				<div class="item">
					<div class="count-outer"><span class="count-text">86</span></div>
					<h4 class="counter-title">Attraction items</h4>
					<div class="icon"><i class="icon-people3"></i></div>
				</div>

			</article>

			<!--Column-->
			<article class="column counter-column col-md-3 col-sm-6 col-xs-12">
				<div class="item">
					<div class="count-outer"><span class="count-text">850</span></div>
					<h4 class="counter-title">Average visitors</h4>
					<div class="icon"><i class="icon-technology3"></i></div>
				</div>
			</article>

			<!--Column-->
			<article class="column counter-column col-md-3 col-sm-6 col-xs-12">
				<div class="item">
					<div class="count-outer"><span class="count-text" data-speed="3000" data-stop="47">14</span></div>
					<h4 class="counter-title">Winning Awards</h4>
					<div class="icon"><i class="icon-sports"></i></div>
				</div>
			</article>

			<!--Column-->
			<article class="column counter-column col-md-3 col-sm-6 col-xs-12 ">
				<div class="item">
					<div class="count-outer"><span>99.99</span>%</div>
					<h4 class="counter-title">Satisfied Customers</h4>
					<div class="icon"><i class="icon-square2"></i></div>
				</div>
			</article>
		</div>
	</div>
</section>



