<div class="container-fluid">	
	<div class="row">
		<div class="col-xl-3 col-lg-6">
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity1.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div><hr>
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity2.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div><hr>
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity3.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div><hr>
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity4.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div><hr>
			<div class="card">
				<div class="card-header card-default">
					<img width=100% height=100% src="assets/img/activity5.jpg">
				</div>
				<div class="card-footer card-default">
					<a class="text-muted" href="javascript:;"> <span class="pull-xs-left">View
							Details</span> <span class="pull-xs-right"><i
							class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</a>
				</div>
			</div>
		</div>
		
		<div class="col-xl-9">
			<h2><strong>Husky Skating</strong></h2>
			<hr>
			<iframe width=100% height="480" src="https://www.youtube.com/embed/oZ2FX98ynNE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			
			<h3>Dog skijoring</h3>
			<hr>
			<p class="glyphicon glyphicon-search">Skijoring with a dog is a sport in which a dog (or dogs) assist a cross-country skier. One to three dogs are commonly used. The cross-country skier provides power with skis and poles, and the dog adds additional power by running and pulling. The skier wears a skijoring harness, the dog wears a sled dog harness, and the two are connected by a length of rope. There are no reins or other signaling devices to control the dog; the dog must be motivated by its own desire to run, and respond to the owner's voice for direction.
			
			</p>
			<h3>Competitions</h3>
			<hr>
			<p class="glyphicon glyphicon-search">Skijor races are held in many countries where there is snow in winter. Most races are between 5 kilometers and 20 kilometers in length. The longest race is the KALEVALA[1] held in Kalevala, Karelia, Russia, with a distance of 440 kilometres (270 mi). Next is the River Runner 120[2] held in Whitehorse, Yukon, with a distance of 120 miles (190 km). In the United States and Canada, skijoring races are often held in conjunction with sled dog races, skijoring being just one category of race that occurs during the day's activities. In Scandinavia, skijor racing is tightly associated with the older Scandinavian sport of Pulka. Skijoring races are not normally limited to purebred Northern breed dogs such as the Siberian Husky. On the contrary, the top ranked racing teams in the world are German Shorthaired Pointers, Pointer/Greyhound mixes, Alaskan Huskies, or crosses between these breeds.
			</p>
		
		</div>
	</div>
</div>